button,
h1 {
  animation: mykeyframe 1s;
}
@keyframes mykeyframe {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button:hover {
  background: #1919c4;
  border-color: #ff4f00;
}
:not(._hj-OO1S1__styles__openStateToggle) {
  background: #2a324b;
  color: white;
  font-size: 80px;
}
input {
  height: 200px;
  width: 810px;
}
button {
  width: 150px;
}
input[type="range"] {
  position: absolute;
  top: 740px;
}
#sign {
  stroke-dasharray: 3478.037353515625;
  stroke-dashoffset: 3478.037353515625;
  animation: sign 5s cubic-bezier(0.41, 1.15, 0.71, -0.32);
  animation-fill-mode: forwards;
}

#sign_elem:hover #sign {
  /*animation-play-state: paused;*/
  animation-name: rgb_animation, sign;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  transition-timing-function: cubic-bezier(0.41, 1.15, 0.71, -0.32);
}

@keyframes rgb_animation {
  0% {
    stroke: #ff0000;
  }
  25% {
    stroke: #080cff;
  }
  50% {
    stroke: #00ff2a;
  }
  75% {
    stroke: #ffe600;
  }
  100% {
    stroke: #ff0000;
  }
}
#sign_elem {
  position: absolute;
  top: 50px;
  left: 900px;
}
@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}
